@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: from theme("colors.white") h s l;
    --foreground: from theme("colors.black") h s l;

    --card: from theme("colors.white") h s l;
    --card-foreground: from theme("colors.zinc.950") h s l;

    --popover: from theme("colors.white") h s l;
    --popover-foreground: from theme("colors.zinc.950") h s l;

    --primary: from theme("colors.zinc.800") h s l;
    --primary-foreground: from theme("colors.zinc.50") h s l;

    --secondary: from theme("colors.zinc.100") h s l;
    --secondary-foreground: from theme("colors.zinc.800") h s l;

    --muted: from theme("colors.zinc.100") h s l;
    --muted-foreground: from theme("colors.zinc.600") h s l;

    --accent: from theme("colors.zinc.100") h s l;
    --accent-foreground: from theme("colors.zinc.800") h s l;

    --destructive: from theme("colors.red.500") h s l;
    --destructive-foreground: from theme("colors.zinc.50") h s l;

    --border: from theme("colors.zinc.200") h s l;
    --input: from theme("colors.zinc.200") h s l;
    --ring: from theme("colors.zinc.950") h s l;

    --colored-event-foreground: from theme("colors.black") h s l;

    --link: 210 100% 40%;

    --radius: 0.5rem;

    touch-action: pan-x pan-y;
    height: 100%;
  }

  /* dark mnode only for elements not containing .light class */
  [data-kb-theme="dark"] {
    --background: from theme("colors.zinc.900") h s l;
    --foreground: from theme("colors.zinc.50") h s l;

    --card: from theme("colors.zinc.950") h s l;
    --card-foreground: from theme("colors.zinc.50") h s l;

    --popover: from theme("colors.zinc.950") h s l;
    --popover-foreground: from theme("colors.zinc.50") h s l;

    --primary: from theme("colors.zinc.50") h s l;
    --primary-foreground: from theme("colors.zinc.900") h s l;

    --secondary: from theme("colors.zinc.800") h s l;
    --secondary-foreground: from theme("colors.zinc.50") h s l;

    --muted: from theme("colors.zinc.800") h s l;
    --muted-foreground: from theme("colors.zinc.400") h s l;

    --accent: from theme("colors.zinc.800") h s l;
    --accent-foreground: from theme("colors.zinc.50") h s l;

    --destructive: from theme("colors.red.900") h s l;
    --destructive-foreground: from theme("colors.zinc.50") h s l;

    --border: from theme("colors.zinc.800") h s l;
    --input: from theme("colors.zinc.800") h s l;
    --ring: from theme("colors.zinc.300") h s l;

    --colored-event-foreground: from theme("colors.black") h s l;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient {
    mask-image: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.013) 4.05%,
      hsla(0, 0%, 0%, 0.049) 7.75%,
      hsla(0, 0%, 0%, 0.104) 11.25%,
      hsla(0, 0%, 0%, 0.175) 14.5%,
      hsla(0, 0%, 0%, 0.259) 17.65%,
      hsla(0, 0%, 0%, 0.352) 20.6%,
      hsla(0, 0%, 0%, 0.45) 23.55%,
      hsla(0, 0%, 0%, 0.55) 26.45%,
      hsla(0, 0%, 0%, 0.648) 29.4%,
      hsla(0, 0%, 0%, 0.741) 32.35%,
      hsla(0, 0%, 0%, 0.825) 35.5%,
      hsla(0, 0%, 0%, 0.896) 38.75%,
      hsla(0, 0%, 0%, 0.951) 42.25%,
      hsla(0, 0%, 0%, 0.987) 45.95%,
      hsl(0, 0%, 0%) 50%,
      hsla(0, 0%, 0%, 0.987) 54.05%,
      hsla(0, 0%, 0%, 0.951) 57.75%,
      hsla(0, 0%, 0%, 0.896) 61.25%,
      hsla(0, 0%, 0%, 0.825) 64.5%,
      hsla(0, 0%, 0%, 0.741) 67.65%,
      hsla(0, 0%, 0%, 0.648) 70.6%,
      hsla(0, 0%, 0%, 0.55) 73.55%,
      hsla(0, 0%, 0%, 0.45) 76.45%,
      hsla(0, 0%, 0%, 0.352) 79.4%,
      hsla(0, 0%, 0%, 0.259) 82.35%,
      hsla(0, 0%, 0%, 0.175) 85.5%,
      hsla(0, 0%, 0%, 0.104) 88.75%,
      hsla(0, 0%, 0%, 0.049) 92.25%,
      hsla(0, 0%, 0%, 0.013) 95.95%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }
}
